  /*style related to quesstion and options shown in the card */
  .qcard {
    display: grid;
    grid-template-rows: 160px 1fr;
    width: 100%;
    height: 100%;
    background-color:#8ec0e4;
    /* background-color: #ececec; */
    border-radius: 5px;
    user-select: none;



  }

  .question {

    width: 95%;
    height: 150px;
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
  }

  .options {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    /* align-items: center; */
    justify-content: center;
    width: 88%;
    gap: 15px;
    position: relative;

  }

  .option {
    width: 100%;
    height: 30px;
    background-color: white;
    display: grid;
    grid-template-columns: 30px 1fr 0;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    font-size: 13px;


  }

  .option input {
    opacity: 0;
    grid-row: 1;
    grid-column: 1 / 2;
  }

  .option .radio {
    order: -1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    grid-row: 1;
    grid-column: 1 / 2;
    background-color: black;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .option .radio::after {
    content: "";
    width: 9px;
    height: 9px;
    background-color: white;
    border-radius: 50%;
    display: none;
  }

  /* on hover style */
  .option input:hover:not(.checked)~.radio {
    background-color: silver;
  }

  .option input:hover~.radio::after {
    display: block;
  }

  /* On check style */
  
  .option .checked~.radio, .option input:checked~.radio {
    background-color: green;
  }

  .option .checked~.radio::after {
    display: block;
  }


  .option:has(.checked) {
    border: 1px solid green;
    box-shadow: 0.5px 0.5px 3px green;
  }


  .large:focus {
  display: block;

  }

  .large.readmore{
    position: absolute;
    top: 0;
    height: 150px;
  }
  

  